<div class="form">
  <%= flash[:notice] %>
  <div>
    <h3>Account Page</h3>
  </div>
</div>

<%# SEARCH BAR SECTION %>
<div id="find_users">
  <form>
    <input type="text" id="search_input" name="search_query" placeholder="Search by username">
  </form>

  <div id="search_results"></div>
</div>


<%# For the search bar autocomplete %>
<script src="jquery-3.7.0.min.js"></script>
<script src="search_query.js"></script>

<%# CURRENT USER SECTION %>
<div class="current_logged_in_user">
  <%= partial :"partials/display_current_user" %>
</div>

<%# ALL USERS SECTION %>
<div class="all_users_section">
  <%= partial :"partials/display_users_links" %>
</div>

<form action='/map_page' method='get'>
  <input type="submit" value="Go to map page" />
</form>
<br>

<%# BUTTONS FOR TOGGLING SECTIONS %>
<button onclick="showImages()">Show Images</button>
<button onclick="showMap()">Show Map</button>
<button onclick="showFollowing()">Following</button>

<script src="account_page_display_modals.js"></script>


<%# PEOPLE YOU FOLLOW SECTION %>
<div id="display_modal_box_account_page">

  <div id="following-section">
      <%= partial :"partials/display_all_followees" %>
  </div>

  <div id="image-section">
    <%# IMAGE LIST SECTION %>
    <div style="padding-left: 20px" align="center">
      <%= partial :"partials/display_all_images" %>
    </div>
  </div>

  <div id="map-section">
    <%# MAP SECTION %>
    <div id="your-hidden-map-container" align="center">
      <%= partial :"partials/map_with_images" %>
    </div>
  </div>

</div>