<div class="form">
  <a>Welcome...</a>
  <%= flash[:notice] %>
  <div>
    <h3>Account Page</h3>
    <br>
  </div>
</div>
<p>Logged-in User:<a style="color:red" > <%= @current_user.username %></a></p>
<!-- Existing content -->

<p><b>Recent Users:</b>
  <% @users.each do |user| %>
    <p><a href="/users/<%= user.username %>"><%= user.username %></a></p>
  <% end %>
</p>

<br>
<br>

<form action='/map_page' method='get'>
    <input type="submit" value="Go to map page" />
</form>

<br>

<div class="image-items">
  <p><b>Here are the images:</b></p>

  <div class="image-grid">

    <div class="image-item add-photo">

      <form action='/upload' method='post' enctype='multipart/form-data'>

        <label for="file-upload" class="add-photo-label">
          <div class="add-photo-icon">+</div>
          <div class="add-photo-text">Add Image</div>
          CAPTION: <input type='text' name='caption'>
        <input type='file' name='file' id="file-upload" >
        <input class="button" type='submit' value="Add New Photo">
        </label>

      </form>

    </div>

    <% if @images.empty? %>
      <p>There are currently no images</p>
    <% else %>
      <% @images.each do |image| %>
        <div class="image-item">
          <img src="<%= image.url %>" width="400" height="500">
          <p><%= image.caption %></p>
          <p><%= image.date_time %></p>
          <form action="/images/<%= image.id %>" method="post">
            <% if image.user_id == @user %>
              <input type="hidden" name="_method" value="delete">
              <input class="button" type="submit" value="Delete">
            <% end %>
          </form>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
