<div class="form">
  <a>Welcome...</a>
  <%= flash[:notice] %>
  <div>
    <h3>Account Page</h3>
    <br>
  </div>
</div>
<p>Logged-in User:<a style="color:red" > <%= @current_user.username %></a></p>
<!-- Existing content -->

<p><b>Recent Users:</b>
  <% @users.each do |user| %>
    <p><a href="/users/<%= user.username %>"><%= user.username %></a></p>
  <% end %>
</p>

<br>
<br>

<form action='/map_page' method='get'>
    <input type="submit" value="Go to map page" />
</form>
<br>

<%= partial :"partials/display_all_images" %>