<div class="form">
  <a>Welcome...</a>
  <%= flash[:notice] %>
  <div>
    <h3>Account Page</h3>
    <br>
  </div>
</div>

<form>
  <input type="text" id="search_input" name="search_query" placeholder="Search by username">
</form>

<div id="search_results"></div>
<%# For the search bar autocomplete %>
<script src="jquery-3.7.0.min.js"></script>
<script src="search_query.js"></script>




  <%= partial :"partials/display_current_user" %>
  <%= partial :"partials/display_recent_users_links" %>


<a>The people you follow: </a>
<% if @current_user.followees.present? %>
  <% @current_user.followees.each do |friend| %>
    <%= friend.username %>
  <% end %>
<% else %>
  <p>No followees found.</p>
<% end %>

<form action='/map_page' method='get'>
    <input type="submit" value="Go to map page" />
</form>
<br>

  <%= partial :"partials/display_all_images" %>

<div align="center">
    <%= partial :"partials/map_with_images" %>
</div>