<div class="form">
  <a>Welcome...</a>
  <%= flash[:notice] %>
  <div>
    <h3>Account Page</h3>
    <br>
  </div>
</div>

<form>
  <input type="text" id="search_input" name="search_query" placeholder="Search by username">
</form>

<div id="search_results"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    var input = $('#search_input');
    var results = $('#search_results');

    input.on('input', function() {
      var query = input.val();

      if (query.length >= 2) {
        $.ajax({
          url: '/users/search',
          type: 'POST',
          data: { search_query: query },
          success: function(response) {
            results.html(response);
          },
          error: function() {
            results.html('<p>Error occurred while searching.</p>');
          }
        });
      } else {
        results.empty();
      }
    });
  });
</script>


  <%= partial :"partials/display_current_user" %>
  <%= partial :"partials/display_recent_users_links" %>


<form action='/map_page' method='get'>
    <input type="submit" value="Go to map page" />
</form>
<br>

  <%= partial :"partials/display_all_images" %>

<div align="center">
    <%= partial :"partials/map_with_images" %>
</div>