<div class="form">
  <a>Welcome...</a>
  <%= flash[:notice] %>
  <div>
    <h3>Account Page</h3>
    <br>
  </div>
</div>

<%# SEARCH BAR SECTION%>
<form>
  <input type="text" id="search_input" name="search_query" placeholder="Search by username">
</form>

<div id="search_results"></div>
<%# For the search bar autocomplete %>
<script src="jquery-3.7.0.min.js"></script>
<script src="search_query.js"></script>

<%# CURRENT USER SECTION%>
<div class="current_logged_in_user">
  <%= partial :"partials/display_current_user" %>
</div>

<%# ALL USERS SECTION%>
<div class="all_users_section" >
  <%= partial :"partials/display_users_links" %>
</div>


<form action='/map_page' method='get'>
    <input type="submit" value="Go to map page" />
</form>
<br>


<%# BUTTONS FOR TOGGLING SECTIONS %>
<button onclick="showImages()">Show Images</button>
<button onclick="showMap()">Show Map</button>
<button onclick="showFollowing()">Following</button>

<script>
  function showImages() {
    const imageSection = document.querySelector('#image-section');
    const mapSection = document.querySelector('#map-section');
    const followingSection = document.querySelector('#following-section');

    imageSection.style.display = 'block';
    mapSection.style.display = 'none';
    mapSection.classList.add('hidden');
    followingSection.style.display = 'none';
  }

  function showMap() {
    const imageSection = document.querySelector('#image-section');
    const mapSection = document.querySelector('#map-section');
    const followingSection = document.querySelector('#following-section');

    imageSection.style.display = 'none';
    // mapSection.style.display = 'block';
    mapSection.classList.remove('hidden');
    // mapSection.classList.add('visible');
    followingSection.style.display = 'none';
  }

  function showFollowing() {
    const imageSection = document.querySelector('#image-section');
    const mapSection = document.querySelector('#map-section');
    const followingSection = document.querySelector('#following-section');

    imageSection.style.display = 'none';
    // mapSection.style.display = 'none';
    mapSection.classList.add('hidden');
    followingSection.style.display = 'block';
  }
</script>

<style>
  /* #map-section,
  #following-section {
    display: none;

  } */
   .hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    height: 0;
  }

  .visible {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    height: auto;
    transition: opacity 0s ease-in;
  }

  /* Remove the display: none property from .section */
  .section {
    /* display: none; */
  }

  #map-section {
    width: 100%;
    height: 500px;
  }

/* NOT the display = 'none' way of doing it. */
</style>
<br>

<%# PEOPLE YOU FOLLOW SECTION %>
<div id="following-section">
  <a>The people you follow:</a>
  <% if @current_user.followees.present? %>
    <% @current_user.followees.each do |friend| %>
      <p><a href="/users/<%= friend.username %>"><%= friend.username %></a></p>
    <% end %>
  <% else %>
    <p>No followees found.</p>
  <% end %>
</div>

<div id="image-section">
  <%# IMAGE LIST SECTION %>
  <div style="padding-left: 20px" align="center">
    <%= partial :"partials/display_all_images" %>
  </div>
</div>

<div id="map-section" class="hidden">
  <%# MAP SECTION %>
  <div align="center">
    <%= partial :"partials/map_with_images" %>
  </div>
</div>