<h1>User Profile - <%= @user.username %></h1>

<div align="center">

<% if @images.any? %>
  <h2>Uploaded Images</h2>
  <% @images.each do |image| %>
    <img src="<%= image.url %>"  width="400" height="500" alt="<%= image.caption %>">
  <% end %>
<% else %>
  <p>No images uploaded by this user.</p>
<% end %>

</div>

<%="Hello " + @user.username %>
<br>
<%=
"/users/" + @user.username + "/images_data.json"
%>

<%=

user_data_url = "/users/" + @user.username + "/images_data.json"

js_map user_data_url,
       id: "cities-map",
       width: "800px",
       height: "500px",
       tooltips: {hover: false, html: true},
       markers: {color: "#0f0f0f"},
       style: "mapbox://styles/zeinzzu/clhxjl52y025v01prbpakagy0",
       zoom: 1

%>